.SignupCard{
/* width: 70vw; */
/* border: 2px solid blue; */
padding: 1rem 1rem;
height: 85vh;
width: 30vw;
/* width: 50vw;
height: 50vh; */
background-color: transparent;
  backdrop-filter: blur(30px);
}
.SignupCard h1{
    font-size: 2rem;
    color: white;
    font-weight: 900;
    margin-bottom: 2rem;
}
.SignupCard h1 span{
    color: var(--primary-100);
}
.SignupCard form{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.SignupCard form input{
    color: var(--primary-100);
    padding: 1rem 1rem;
    font-size: 1.2rem;
    border: 2px solid var(--primary-100);
}
.SignupCard button{
    color: white;
    width: 10vw;
    font-size: 1.2rem;
    font-weight: 900;
    /* width: 4vw; */
    padding: 0.5rem 2rem;
    align-self: center  ;
    background-color: var(--primary-100);
}
.Signup{
    background-image: url('../Images/Dashboard1.jpg');
    background-position: center;
    background-size: contain;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media all and (max-width:700px) {
    .SignupCard{
        width: 80vw;
        height: auto;
        padding: 0.5rem 1rem;
    }
    .SignupCard form input{
        padding: 0.6rem 1rem;
    }
    .SignupCard h1{
        font-size: 1.7rem;
    }
    .SignupCard button{
        padding: 1rem 1rem;
        width: 40vw;
    }
    .Signup{
        height: 100vh;
    }
}
@media all and (max-height:500px) {
    .Signup{
        height: 100vh;
    }
    .SignupCard{
        width: 40vw;
    }
    .SignupCard h1{
        margin-bottom: 0;
    }
    .SignupCard form{
        gap: 0.5rem;
    }
    .SignupCard form input{
        padding: 0.2rem 0.4rem;
    }
    .SignupCard{
        padding: 0rem 1rem;
    }
    .SignupCard button{
        padding: 0.2rem 0.3rem;
    }
}